div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a{
  background-color: #f0f0f0;
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: #e72929;
  transition: color .4s ease-in-out , background-color .4s ease-in-out;
}
a:hover{
  background-color: #e72929;
  color: #f0f0f0;
}
